body {
  font-family: Arial, sans-serif;
}

.or {
  position: relative;
  text-align: center;
}
.or span {
  position: relative;
  background-color: white;
  padding: 0 4px;
  margin-bottom:  12px;
}
.or::before {
  content: "";
  background-color: gainsboro;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;;
  transform: translateY(-50%); 
}

.google-login {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.userPicture {
  width: 25px;
  border: 1px solid gray;
  border-radius: 100%;
}

.userPicture:hover {
  width: 25px;
  border: 1px solid gray;
  padding: 2px;
  border-radius: 100%;
}